/*variables*/
$headingBgColor: #eef1f1;
$primary-color: #0e7162;
$secondary-color: #666666;
$form-bg: #fff;
$third-color: #710e1d;
/*end variables*/

/*global*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $third-color;
  border-radius: 20px;
}

/*end scrollbar*/

/*end global*/
/*nav*/
nav {
  overflow-x: hidden;

  padding: 10px 0;
  .branding {
    h1 {
      font-size: 2rem;
      color: $third-color;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
/*nav*/
/*heading-wrapper*/

.heading-wrapper {
  overflow-x: hidden;
  height: 70vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $headingBgColor;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .heading-text-wrapper {
      text-align: center;
      margin-bottom: 110px;

      h1 {
        font-size: 2.5rem;
        color: $primary-color;
      }
      h3 {
        color: $secondary-color;
      }
    }
    .header-img {
      .fa-user-secret {
        font-size: 10rem;
        color: $primary-color;
      }
    }
  }
}
.display-wrapper {
  overflow-x: hidden;
  background-color: $headingBgColor;
  height: 100vh;

  .display {
    overflow-x: hidden;
    border-top: 1px solid rgb(241, 236, 236);
    padding: 50px 0;
    width: 900px;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    color: #555;
    z-index: 999;
    background-color: $form-bg;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    .input-and-desk {
      align-items: center;
      display: flex;
      flex-direction: column;
      h1 {
        color: $primary-color;
      }
      .search {
        width: fit-content;
        padding: 8px 8px 8px 8px;
        margin: 0 auto;
        width: fit-content;
        border-radius: 20px;
        margin-bottom: 50px;
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid $secondary-color;
        input {
          margin-left: 20px;
          border: none;
          font-size: 1.2rem;
          &:focus {
            outline: none;
            background-color: none;
          }
        }
      }
    }
    .searchresults {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      height: 300px;
      width: 400px;
      padding: 10px 20px 10px 20px;

      .email {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #0e7162;
        padding-bottom: 10px;
        font-size: 1.5rem;
        color: $primary-color;
      }
      .normal-format {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/*end heading-wrapper*/
/*media queries*/
@media (max-width: 1075px) {
  .heading-wrapper {
    height: 100%;
    padding-top: 40px;
    overflow: hidden;
    .container {
      display: grid;
      grid-template-columns: 1fr;
      .header-img {
        margin-top: 0px;
        padding: 0;
        text-align: center;
      }
    }
  }
  .display-wrapper {
    .display {
      width: fit-content;
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px 90px;
      .searchresults {
        width: 100%;
        background: #fff;
      }
    }
  }
}
@media (max-width: 620px) {
  .heading-wrapper {
    height: 100%;
    .container {
      .header-img {
      }
    }
  }
  /*end media queries*/
  .display-wrapper {
    .display {
      width: 100%;
      padding: 10px 10px;
      margin: 0 auto;
      font-size: 1rem;
      justify-content: flex-start;
      font-size: 0.7rem;
      display: flex;
      flex: wrap;
      flex-direction: column;
      .searchresults {
        .email {
          font-size: 1.2rem;
        }
      }
      .input-and-desk {
        margin-right: 20px;
        h1 {
        }

        .search {
          padding-right: 0;
          padding-left: 0;
          input {
            width: 80%;
            padding: 0;
          }
        }
      }
    }
  }
}
