/*variables*/
/*end variables*/
/*global*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/*end global*/
/*nav*/
nav {
  overflow-x: hidden;
  padding: 10px 0;
}

nav .branding h1 {
  font-size: 2rem;
  color: #555;
}

nav .branding h3 {
  font-size: 1.5rem;
}

/*nav*/
/*heading-wrapper*/
.heading-wrapper {
  overflow-x: hidden;
  height: 70vh;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eef1f1;
}

.heading-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.heading-wrapper .container .heading-text-wrapper {
  text-align: center;
  margin-bottom: 110px;
}

.heading-wrapper .container .heading-text-wrapper h1 {
  font-size: 2.5rem;
  color: #0e7162;
}

.heading-wrapper .container .heading-text-wrapper h3 {
  color: #666666;
}

.heading-wrapper .container .header-img .fa-user-secret {
  font-size: 10rem;
  color: #0e7162;
}

.display-wrapper {
  overflow-x: hidden;
  background-color: #eef1f1;
  height: 100vh;
}

.display-wrapper .display {
  border-top: 1px solid #f1ecec;
  padding: 50px 0;
  width: 900px;
  height: 70vh;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  color: #555;
  z-index: 999;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.display-wrapper .display .input-and-desk {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display-wrapper .display .input-and-desk h1 {
  color: #0e7162;
}

.display-wrapper .display .input-and-desk .search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 8px 8px 8px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #666666;
}

.display-wrapper .display .input-and-desk .search input {
  margin-left: 20px;
  border: none;
  font-size: 1.2rem;
}

.display-wrapper .display .input-and-desk .search input:focus {
  outline: none;
  background-color: none;
}

.display-wrapper .display .searchresults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  height: 300px;
  width: 400px;
  padding: 10px 20px 10px 20px;
}

.display-wrapper .display .searchresults .email {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #0e7162;
  padding-bottom: 10px;
}

.display-wrapper .display .searchresults .normal-format {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

/*end heading-wrapper*/
/*media queries*/
@media (max-width: 1075px) {
  .heading-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heading-wrapper .header-img .fa-user-secret {
    text-align: center;
  }
  .display-wrapper .display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */